@font-face {
	font-family: manrope;
	src: url(./ManropeGX.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: manrope;
}
html,
body {
	height: 100%;
	width: 100%;
}
#main {
	width: 100vw;
	background-color: #fff;
}
.section {
	height: 100vh;
	width: 100%;
}
#page1 {
	width: 100%;
	background-color: black;
	min-height: 280vh;
	display: flex;
	justify-content: center;
	padding: 12.02083vw 0 0;
}
.maintext {
	display: flex;
	flex-direction: column;
	gap: 7px;
	/* background-color: green; */
	width: 70%;
}
.maintext span {
	display: inline-block;
	width: 100%;
	height: 17vh;
	color: #4f4f4f;
	/* background-color: rgb(201, 14, 14); */
	font-size: 8vw;
	font-family: manrope;
	text-align: left;
	font-weight: bold;
	/* transition: y 1s ease; */
}
.maintext .boldt {
	display: inline-block;
	width: 100%;
	height: 17vh;
	font-weight: 400;
	color: #fff;
	/* background-color: rgb(201, 14, 14); */
	font-size: 8vw;
	transition: font-weight 0.2s ease-in-out;
}
.section:nth-child(1) > h1 {
	font-size: 5vw;
}
#page2 {
	width: 100%;
	height: 100vh;
	position: relative;
}
.df{
	display: flex;
	align-items: center;
	justify-content: center;
}
.page2 {
	background-color: #000;
}
.page6 {
	background-color: #fff;
}
.vtwo {
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	transform: translateX(-50%);
}
.text {
	/* position: absolute; */
	/* left: 20%; */
	/* top: 40%; */
	/* transform: translate(-50%, -50%); */
	z-index: 999;
	color: #fff;
	font-size: 10vw;
	white-space: nowrap;
	mix-blend-mode: difference;
	pointer-events: none;
	user-select: none;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: aqua; */
}
/* #page3{
    width: 100%;
    height: 200vh;
    display: flex;
    position: relative;
} */
.page3main {
	width: 100%;
	height: 200vh;
	display: flex;
	position: relative;
}
.pg3left {
	width: 50%;
	height: 100%;
	display: flex;
	padding: 3vw;
	/* align-items: flex-end; */
	justify-content: flex-end;
	position: relative;
	/* background-color: #4f4f4f; */
}
.pg3lft-text {
	margin-top: 2vw;
	/* position: absolute; */
	/* top: 2.2%; */
	/* left: 20%; */
	/* transform: translate(-50%, -50%); */
	width: 70%;
	height: fit-content;
	/* background-color: aqua; */
	font-family: manrope;
}
.pg3line {
	width: 100%;
	height: 3px;
	background-color: #000;
	transition: width 1.5s ease-out;
}
.pg3lft-text > h1 {
	padding: 1vw 3vw;
	font-size: 3vw;
	margin: 2.5vw 0;
}
.pg3lft-text > p {
	padding: 1vw 3vw;
	font-size: 1.7vw;
	font-weight: 800;
	text-transform: capitalize;
	line-height: 2.5vw;
	color: #4f4f4fb9;
}
.pg3right {
	/* background-color: rgb(68, 63, 55); */
	width: 50%;
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
}
.pg3rtxt {
	opacity: 0;
	margin-top: 60vh;
	margin-left: 5vw;
	width: 60%;
	display: flex;
	min-height: 50vh;
	/* background-color: aqua; */
	flex-direction: column;
	flex-wrap: wrap;
	gap: 4vw;
	transition: opacity 1s ease;
}
.pg3rtxt > p {
	font-family: manrope;
	font-weight: 700;
	color: #4f4f4fda;
	/* height: 10vh; */
	/* min-height: fit-content; */
	font-size: 1vw;
}
.pg3rtxt > p > strong {
	color: black;
	font-size: 1.1vw;
	font-weight: 900;
}
#page4 {
	width: 100%;
	min-height: 150vh;
	overflow: hidden;
	/* background-color: rgb(24, 175, 16); */
}
.pg4container {
	width: 100%;
	height: fit-content;
	/* background-color: beige; */
	font-family: manrope;
	padding: 5vh 2vw 60vh 18vw;
	/* margin-top: 15vh; */
	/* margin-bottom: 40vh; */
}
.pg4container > span {
	display: block;
	margin-top: 10vh;
}
.pg4container > span > h4 {
	width: 60%;
	font-size: 3.3vw;
	font-weight: 200;
	/* background-color: red;   */
	padding: 3vw 0 5vh 0;
}
.expertline {
	display: inline-block;
	margin-top: 5vw;
	width: 0%;
	height: 3px;
	background-color: black;
	transition: width ease;
}
.pg4container > h1 {
	font-size: 7.9vw;
	padding: 0.3vh 0;
	font-weight: 500;
	user-select: none;
	/* color: rgba(227, 224, 224, 0.817); */
	/* color: black; */
}
.ok.is-inview {
	color: black;
	transition: color 0.4s ease-in-out;
}
.ok {
	color: rgb(230, 227, 227);
}

#page5 {
	width: 100%;
	min-height: 100vh;
	/* background-color: rgb(60, 49, 101); */
	display: flex;
	align-items: center;
	justify-content: center;
}
.pg5container {
	width: 65%;
	min-height: 100vh;
	/* background-color: aqua; */
}
.pgfive {
	width: 100%;
	height: fit-content;
	/* background-color: green; */
	padding: 2vw 0;
}
.pgfive-line {
	height: 3px;
	background-color: black;
	margin-bottom: 2vw;
	transition: width 2s ease;
}
.line1.is-inview {
	width: 0%;
}
.line2.is-inview {
	width: 0%;
}
.line3.is-inview {
	width: 0%;
}

.pgfive-content {
	display: flex;
	padding: 2vw 0;
}
.pgfive-left {
	width: 45%;
	/* background-color: blue; */
}
.pgfive-left > a {
	font-size: 5vw;
}
.pgfive-right {
	width: 55%;
	/* background-color: chartreuse; */
}
.pgfive-left h1 {
	font-size: 3.2vw;
	font-weight: 300;
	opacity: 0;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s ease;
	transition: y ease 12s;
}
.ul-itmes li {
	opacity: 1;
	display: block;
}
.ul-itmes li a {
	font-size: 0.8vw;
	color: black;
}
.lidownspace {
	margin-bottom: 1vw;
}
.pg5space {
	margin-bottom: 55vh;
}

/* -----------Page 77 ----- */
.page7main {
	width: 100%;
	min-height: 110vh;
	display: flex;
	position: relative;
	/* background-color: red; */
}
.grege-cont {
	/* background-color: blueviolet; */
	height: fit-content;
	/* margin: 2vw 0 0 10vw; */
}
.grege-cont > h1 span {
	display: inline-block;
	font-size: 1vw;
}
#gregename {
	height: fit-content;
	/* opacity: 0; */
	/* margin-top: -150px; */
	white-space: nowrap;
	font-size: 6vw;
	/* font-weight: 500; */
	/* transition: opacity .2s ease-out; */
}
.pg7line {
	width: 0%;
	height: 3px;
	background-color: #000;
	margin-bottom: 2vw;
	transition: width 1s ease;
}
.grege {
	color: #696969;
}

/* -----------Page 888----- */

#page8 {
	width: 100vw;
	/* background-color: aquamarine; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.projectvideo {
	margin-top: 13vw;
	/* background-color: blue; */
	width: 60%;
}
.projectvideo > a {
	display: block;
	font-size: 1.5vw;
	font-weight: 500;
}
.pg8video > video {
	width: 100%;
	height: 100%;
}
.sheryweb {
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.sheryweb > h3 {
	font-size: 1.5vw;
	font-weight: 200;
}
.sheryweb > a {
	text-decoration: none;
	font-size: 2vw;
	font-weight: 200;
	transition: font-weight 0.7s ease;
	color: black;
	border-bottom: 2px solid black;
	line-height: 2vw;
}
.sheryweb > a:hover {
	font-weight: 900;
}

.projectimages {
	margin-top: 6vw;
	min-height: 100vh;
	width: 100%;
	display: flex;
}
.project-left-imgs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	padding: 10vw 0;
}
.pg8imgs {
	overflow: hidden;
	width: 37vw;
	height: 37vw;
}
.pg8imgs > video {
	object-fit: cover;
	object-position: center;
	width: 37vw;
	transition: transform 0.7s ease;
}
.pg8imgs > img {
	object-fit: cover;
	object-position: center;
	width: 37vw;
	transition: transform 0.7s ease;
}
.pg8imgs > img:hover {
	transform: scale(1.1);
}
.pg8imgs > video:hover {
	transform: scale(1.1);
}
.project-txt {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.project-right-imgs {
	display: flex;
	align-items: center;
	justify-content: left;
	width: 50%;
}
.pg8rvideo {
	overflow: hidden;
	height: 90vh;
	width: 40vw;
	object-fit: cover;
	object-position: center;
}
.pg8rvideo > video {
	display: block;
	height: 90vh;
	transition: transform 0.7s ease;
	width: 40vw;
}
.pg8rvideo > video:hover {
	transform: scale(1.1);
}
.ophover {
	/* background-color: firebrick; */
	opacity: 0.7;
	transition: opacity 0.7s ease;
}
.ophover:hover {
	opacity: 1;
	cursor: pointer;
}
/* ---------Page 88 Testimonial------ */
.projecttesti {
	/* background-color: #f4eeee; */
	/* min-height: 300px; */
	margin-top: 3vw;
	margin-bottom: 3vw;
}
.projecttesti-container {
	position: relative;
	width: 100%;
	height: 90vh;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.frameup {
	height: 100%;
	width: 100%;
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
}
.projecttesti .para {
	z-index: 99;
	display: inline-block;
	width: 50%;
	text-align: center;
	color: white;
	/* transition: opacity .7s ease; */
}
.para1 {
	font-size: 1.5vw;
	margin-bottom: 3vw;
}
.para2 {
	font-size: 1vw;
}
/* ------------Page 10------ */
/* ------------Page 10------ */
#page10 {
	min-height: 100vh;
	width: 100vw;
	/* background-color: goldenrod; */
	display: flex;
	position: relative;
}
.stickyleft {
	width: 50%;
	height: 100%;
	/* background-color: rgb(175, 97, 97); */
	position: relative;
}
.sticky-txt {
	padding: 10vw 0 0 0;
	position: absolute;
	top: 2.2%;
	left: 20%;
	transform: translate(-50%, -50%);
	width: 60%;
	/* background-color: aqua; */
	font-family: manrope;
	height: fit-content;
}
.stickyname {
	text-align: center;
	display: inline-block;
	line-height: 0.9;
	height: fit-content;
	opacity: 0;
	white-space: nowrap;
	font-size: 6vw;
}
.stickyname > span {
	display: inline-block;
	font-size: 1vw;
}
.stickyline {
	width: 0%;
	height: 3px;
	background-color: #000;
	margin-bottom: 2vw;
	transition: width 1.5s ease-out;
}
.stickyopt {
	color: #696969;
}
.stickright {
	/* background-color: rgb(202, 176, 134); */
	width: 50%;
	display: flex;
}
.stickright-txt {
	opacity: 1;
	margin-top: 60vh;
	margin-left: 5vw;
	width: 40%;
	display: flex;
	min-height: 50vh;
	/* background-color: aqua; */
	flex-direction: column;
	flex-wrap: wrap;
	transition: opacity 1s ease;
}
.stickright-txt > h1 {
	color: black;
	display: inline-block;
	line-height: 1.5;
	font-size: 1.7vw;
}
.stickright-txt > p {
	margin: 2vw 0;
	z-index: 2;
	font-family: manrope;
	font-weight: 700;
	color: #4f4f4fda;
	font-size: 0.8vw;
}
.stickright-txt > p > strong {
	color: black;
	font-size: 1.2vw;
	font-weight: 900;
}

#page11 {
	width: 100vw;
	min-height: 100vh;
	/* background-color: aquamarine; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#page12 {
	min-height: 100vh;
	width: 100vw;
	/* background-color: goldenrod; */
	display: flex;
	position: relative;
}
#page13 {
	min-height: 300vh;
	width: 100vw;
	background-color: rgb(145, 107, 83);
	display: flex;
	position: relative;
	overflow: hidden;
	/* padding: 15vh 0; */
}
.pg13content {
	background-color: aquamarine;
	height: fit-content;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15% auto;
	padding: 5vh 0;
	top: 15%;
	left: 0;
	transform: translate(-50%, -50%);
}
.pg13content > a {
	display: inline-block;
	width: 50%;
	height: fit-content;
	/* background-color: darkred; */
	font-size: 3vw;
	text-align: center;
}
#spacer {
	min-height: 50vh;
	width: 100vw;
	/* background-color: rgb(84, 193, 84); */
	background-color: transparent;
}
#page14 {
	min-height: 100vh;
	width: 100vw;
	background-color: rgb(104, 84, 193);
}

/* RESPONSIVE CODE FOR MOBILE VIEW  */

/* # Mobile */
@media only screen and (max-width: 480px) {
	#page1 {
		min-height: 100vh;
	}
	.maintext {
		gap: 0px;
	}
	.maintext span,
	.maintext .boldt {
		height: fit-content;
		font-size: 9vw;
	}
	.vtwo {
		height: 80%;
		width: 80%;
		left: 0%;
		transform: translateX(0%);
	}
	.page2 {
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	.page3main {
		height: 100vh;
	}
	.pg3left {
		width: 100%;
		justify-content: center;
		padding: 0 1vw 0 1vw;
	}
	.pg3lft-text {
		width: 80%;
	}
	.pg3lft-text > h1 {
		padding: 0;
		font-size: 7vw;
		margin: 2.5vw 0;
	}
	.pg3lft-text > p {
		width: 90%;
		padding: 0vw;
		font-size: 1.3rem;
		font-weight: 300;
		text-transform: lowercase;
		line-height: 1.5;
		font-style: normal;
	}
	.pg3right {
		display: none;
	}
	#page4 {
		width: 100%;
		min-height: 60vh;
	}
	.pg4container {
		padding: 0vh 5vh 0vh;
	}
	.pg4container > span > h4 {
		width: 50%;
		font-size: 6.3vw;
		font-weight: 200;
		/* background-color: red;   */
		padding: 3vw 0 5vh 0;
	}
	.pg4container > span {
		margin-top: 0vh;
	}
	.ok {
		color:black;
	}
}
